<ul class="menu-nav">
	<li class="menu-item menu-item-active" aria-haspopup="true">
		<a href="/" class="menu-link">
			<span class="menu-text">Dashboard</span>
		</a>
	</li>
	<li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
		<a href="/Calendar" class="menu-link">
			<span class="menu-text">Calendar</span>
		</a>
	</li>
	<li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
		<a href="/Doctors" class="menu-link">
			<span class="menu-text">Doctors</span>
		</a>
	</li>
	<li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
		<a href="/Payments" class="menu-link">
			<span class="menu-text">Payments</span>
		</a>
	</li>
	<li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
		<a href="/Prescriptions" class="menu-link">
			<span class="menu-text">Prescriptions</span>
		</a>
	</li>
	<li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
		<a href="/Reviews" class="menu-link">
			<span class="menu-text">Reviews</span>
		</a>
	</li>
	<li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
		<a href="/Plans" class="menu-link">
			<span class="menu-text">Plans</span>
		</a>
	</li>
</ul>
<!--end::Header Nav-->