@page "/Plans"
@code {

}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-6 subheader-transparent" id="kt_subheader">
		<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">
				<!--begin::Page Heading-->
				<div class="d-flex align-items-baseline flex-wrap mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-1 mr-5">Plans</h5>
					<!--end::Page Title-->
				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->
		</div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Card-->
			<div class="card card-custom gutter-b">
				<div class="card-body">
					<div class="row justify-content-center my-20">
						<!--begin: Pricing-->
						<div class="col-md-4 col-xxl-3">
							<div class="pt-30 pt-md-25 pb-15 px-5 text-center">
								<!--begin::Icon-->
								<div class="d-flex flex-center position-relative mb-25">
									<span class="svg svg-fill-primary opacity-4 position-absolute">
										<svg width="175" height="200">
											<polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
										</svg>
									</span>
									<span class="svg-icon svg-icon-5x svg-icon-primary">
										<!--begin::Svg Icon | path:assets/media/svg/icons/Home/Flower3.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon points="0 0 24 0 24 24 0 24" />
												<path d="M1.4152146,4.84010415 C11.1782334,10.3362599 14.7076452,16.4493804 12.0034499,23.1794656 C5.02500006,22.0396582 1.4955883,15.9265377 1.4152146,4.84010415 Z" fill="#000000" opacity="0.3" />
												<path d="M22.5950046,4.84010415 C12.8319858,10.3362599 9.30257403,16.4493804 12.0067693,23.1794656 C18.9852192,22.0396582 22.5146309,15.9265377 22.5950046,4.84010415 Z" fill="#000000" opacity="0.3" />
												<path d="M12.0002081,2 C6.29326368,11.6413199 6.29326368,18.7001435 12.0002081,23.1764706 C17.4738192,18.7001435 17.4738192,11.6413199 12.0002081,2 Z" fill="#000000" opacity="0.3" />
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
								</div>
								<!--end::Icon-->
								<!--begin::Content-->
								<span class="font-size-h1 d-block d-block font-weight-boldest text-dark-75 py-2">Free</span>
								<h4 class="font-size-h6 d-block d-block font-weight-bold mb-7 text-dark-50">Only for 1 account</h4>
								<p class="mb-15 d-flex flex-column">
									<span>- 2 consultations free / month</span>
									<span>- 12/24 live support</span>
									<span>- no chat service</span>
								</p>
								<a href="javascript:;" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Get For Free</a>
								<!--end::Content-->
							</div>
						</div>
						<!--end: Pricing-->
						<!--begin: Pricing-->
						<div class="col-md-4 col-xxl-3 border-x-0 border-x-md border-y border-y-md-0">
							<div class="pt-30 pt-md-25 pb-15 px-5 text-center">
								<!--begin::Icon-->
								<div class="d-flex flex-center position-relative mb-25">
									<span class="svg svg-fill-primary opacity-4 position-absolute">
										<svg width="175" height="200">
											<polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
										</svg>
									</span>
									<span class="svg-icon svg-icon-5x svg-icon-primary">
										<!--begin::Svg Icon | path:assets/media/svg/icons/Home/Flower3.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<polygon points="0 0 24 0 24 24 0 24" />
												<path d="M1.4152146,4.84010415 C11.1782334,10.3362599 14.7076452,16.4493804 12.0034499,23.1794656 C5.02500006,22.0396582 1.4955883,15.9265377 1.4152146,4.84010415 Z" fill="#000000" opacity="0.3" />
												<path d="M22.5950046,4.84010415 C12.8319858,10.3362599 9.30257403,16.4493804 12.0067693,23.1794656 C18.9852192,22.0396582 22.5146309,15.9265377 22.5950046,4.84010415 Z" fill="#000000" opacity="0.3" />
												<path d="M12.0002081,2 C6.29326368,11.6413199 6.29326368,18.7001435 12.0002081,23.1764706 C17.4738192,18.7001435 17.4738192,11.6413199 12.0002081,2 Z" fill="#000000" opacity="0.3" />
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
								</div>
								<!--end::Icon-->
								<!--begin::Content-->
								<span class="font-size-h1 d-block d-block font-weight-boldest text-dark-75 py-2">150 $</span>
								<h4 class="font-size-h6 d-block d-block font-weight-bold mb-7 text-dark-50">License for 5 accounts</h4>
								<p class="mb-15 d-flex flex-column">
									<span>- 24/7 live support</span>
									<span>- 2 consultations free / week</span>
									<span>- chat service 12/24</span>
								</p>
								<a href="tel:+40785705418" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Call us</a>
								<!--end::Content-->
							</div>
						</div>
						<!--end: Pricing-->
						<!--begin: Pricing-->
						<div class="col-md-6 col-xxl-3 border-right-0 border-right-md border-bottom border-bottom-xxl-0">
							<div class="pt-30 pt-md-25 pb-15 px-5 text-center">
								<div class="d-flex flex-center position-relative mb-25">
									<span class="svg svg-fill-primary opacity-4 position-absolute">
										<svg width="175" height="200">
											<polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
										</svg>
									</span>
									<span class="svg-icon svg-icon-5x svg-icon-primary">
										<!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Safe.svg-->
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24" />
												<path d="M6.5,16 L7.5,16 C8.32842712,16 9,16.6715729 9,17.5 L9,19.5 C9,20.3284271 8.32842712,21 7.5,21 L6.5,21 C5.67157288,21 5,20.3284271 5,19.5 L5,17.5 C5,16.6715729 5.67157288,16 6.5,16 Z M16.5,16 L17.5,16 C18.3284271,16 19,16.6715729 19,17.5 L19,19.5 C19,20.3284271 18.3284271,21 17.5,21 L16.5,21 C15.6715729,21 15,20.3284271 15,19.5 L15,17.5 C15,16.6715729 15.6715729,16 16.5,16 Z" fill="#000000" opacity="0.3" />
												<path d="M5,4 L19,4 C20.1045695,4 21,4.8954305 21,6 L21,17 C21,18.1045695 20.1045695,19 19,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,6 C3,4.8954305 3.8954305,4 5,4 Z M15.5,15 C17.4329966,15 19,13.4329966 19,11.5 C19,9.56700338 17.4329966,8 15.5,8 C13.5670034,8 12,9.56700338 12,11.5 C12,13.4329966 13.5670034,15 15.5,15 Z M15.5,13 C16.3284271,13 17,12.3284271 17,11.5 C17,10.6715729 16.3284271,10 15.5,10 C14.6715729,10 14,10.6715729 14,11.5 C14,12.3284271 14.6715729,13 15.5,13 Z M7,8 L7,8 C7.55228475,8 8,8.44771525 8,9 L8,11 C8,11.5522847 7.55228475,12 7,12 L7,12 C6.44771525,12 6,11.5522847 6,11 L6,9 C6,8.44771525 6.44771525,8 7,8 Z" fill="#000000" />
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
								</div>
								<span class="font-size-h1 d-block font-weight-boldest text-dark-75 py-2">200 $</span>
								<h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">License for 10 accounts</h4>
								<p class="mb-15 d-flex flex-column">
									<span>- 24/7 live support</span>
									<span>- 6 free consultations / week</span>
									<span>- chat service 24/7</span>
								</p>
								<div class="d-flex justify-content-center">
								<a href="tel:+40785705418" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Call us</a>
								</div>
							</div>
						</div>
						<!--end: Pricing-->
					</div>
				</div>
			</div>
			<!--end::Card-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
</div>


